/* reset layout */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

html{ background: #e3ecef url(/images/bg.gif); }
body{ font: 0.82em/150% arial, tahoma, verdana, serif, "Courier New"; color: #333333;}
a{ text-decoration: none; outline-style: none;}

div.login {left: 50%;margin-left: -190px;position: absolute;top: 100px;}
.login .logo { display: block; margin: 0 0 10px 140px; width: 227px; font-size: 20px;}
.login .login-box {  width: 386px;}
.border-wrapper{background: url("/images/login-border.png") no-repeat scroll 0 0 transparent; overflow: hidden; padding-top: 6px;}
.border-wrapper > div { background: url("/images/login-border.png") no-repeat scroll 0 bottom transparent; float: left; padding-bottom: 8px;}
.login .login-box > div > div { padding: 15px 20px; width: 346px;}
.border-wrapper > div > div { background: url("/images/login-background.png") repeat-y scroll 0 0 transparent; float: left;}
.login .login-box .title.login { background: url("/images/sep-sections.png") repeat-x scroll left bottom transparent; color: #18ABCF; float: left; font-size: 1.6em; font-weight: normal; height: 50px; line-height: 40px; text-align: center; text-shadow: 1px 0 1px #FFFFFF; width: 100%;}
.login .login-box .form {float: left; margin-top: 10px; width: 100%;}
.login .login-box .form li {float: left; margin: 14px 0; width: 100%;}
.login .login-box .label { float: left; width: 100%;}
.login .login-box .label label { color: #314B66; float: left; font-weight: bold;}
.login .login-box .label .link {float: right;}
.login .login-box .label .link a {color: #757575; font-size: 0.86em;}
.login .login-box .form .field-text { background: url("/images/login-input-bg.png") no-repeat scroll left top transparent;border: 1px solid #D2D2D2;color: #C2C2C2;float: left;font-size: 1.1em; height: 30px; line-height: 30px;margin-top: 5px; padding: 0 5px; width: 334px;}
.login .login-box .form .field-text:focus{border: 1px solid #BABABA;}
.login .login-box .checkboxes {display: inline;float: left; margin: 0 0 0 10px; width: 140px;}
.login .login-box .checkboxes li { font-size: 0.9em; margin: 0;}
.login .login-box .button.login { border: 1px solid #18ABCF;color: #2C4356;cursor: pointer;float: left;font-size: 0.92em; font-weight: bold; height: 42px;line-height: 34px; text-align: center; text-shadow: 1px 0 1px #FFFFFF; text-transform: uppercase; width: 190px;}


#navigation {
    background-color: #314B66;
    top: 0;
    height: 25px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100000;
}
#footer .inner {
    margin: 0 auto;
    width: 280px;
}
#navigation li {
    display: inline-block;
    margin-left: 5px;
}
#navigation li a {
    color: #18ABCF;
}
#navigation li a:hover {
    color: #e3ecef;
}

/*
#navigation li.logout a{
    background: url("/images/power.png") no-repeat scroll 0 0 transparent;
    height: 45px;
    text-indent: -1000px;
    width: 50px;
    display: block;
    background-position: 0 -44px;
}
#navigation li.logout a:hover{
    background-position: 0 0;
}*/